.container {
    text-align: center;
    margin-top: 100px;
    height: auto;
    width: 100%;
}

.btn {
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px black;
    border-radius: 5px;
    display: inline-block;
    width: 100px;
    height: 40px;
    background: darkslategrey;
    color: white;
    text-decoration: none;
}

.btn:hover {
    color: black;
    background: wheat;
}

.result {
    border-radius: 20px;
    margin: 20px auto;
    width: 800px;
    font-size: 60px;
}

.input {
    font-size: 40px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
}


.ok {
    background: lightgreen;
}

.bad {
    background: red;
}